
input[type=text], input[type=date] {
    height: 27px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=password] {
    height: 27px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=radio] {
    margin-right: 0px;
    margin-left: 0px;
    height: 20px;
    width: 20px;
    display: inline;
    padding-left: 25px;
}

input[type=submit] {
    font-size: 20px;
    border-radius: 5px;
    width: 90px;
}

#redirectToLoginButton {
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

.label-input-group {
    font-size: 20px;
    padding-top: 12px;
    width: 230px;
}

.registration-form-box {
    padding-left: 35px;
    padding-top: 10px;
    width: 360px;
    height: 840px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 800px;
    background-color: #A9A9A9;
    position: fixed;
    margin-top: 80px;
}

.registration-form-box-legend {
    font-size: 25px;
    text-align: center;
    color: black;
}

.error-message {
    width: 300px;
    height: 15px;
    color: red;
}

input[type=reset] {
    margin-left: 10px;
    border-radius: 6px;
    width: 90px;
    font-size: 17px;
    padding-left: 5px;
    margin-top: 25px;
    height: 31px;
}

textarea {
    border: 1px solid black;
    border-radius: 7px;
}

.pop-up {
    display:none;
    width: 300px;
    height: 60px;
    background-color: green;
    margin-left: 830px;
    margin-bottom: 500px;
    padding-left: 35px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px 0px grey;
    font-family: helvetica;
    position: fixed;
    color: white;
}

.pop-up-text {
    font-size:25px;
    text-align:center;
    margin-top:20px;
    margin-right:20px;
}

.login-form-box {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 30px 0px 0px 90px;
    margin-left: 500px;
}

.login-form-box-legend {
    text-align: center;
    font-size: 25px;
}

.label-username-group {
    margin-top: 15px;
}
